
body {
    background-color: blueviolet;
}

h1 {
    align-content: center;
    color: aquamarine;
}

#imgHeader {
    max-width: 50%;
    max-height: 50%;
    background-color: aliceblue;
}

#p10 {

    color: white;
}

h1:hover { color: fuchsia; }

p::first-letter {font-size: xx-large; }