body {
    margin: 20px auto;
    /* max-width: ;  o tmanho maximo da largura nesse caso*/
    width: 75%;
    height: 50%;
    border: 10px solid grey;
    padding: 20px;
    font-family: 'Ubuntu Mono';
}

.date {
    text-transform: uppercase;
    color: lightblue;
    letter-spacing: 0.2rem;
}

div h1 + p {
    border-left: 5px solid grey;
    padding: 5px;
}

.artigo {
    padding: 10px;
    margin-bottom: 10px;
}